<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UI for AirHorn player">
    <meta name="author" content="John Manero <john.manero@gmail.com>">
    <link rel="icon" href="../../favicon.ico">

    <title>AirHorn</title>
    <link href="/asset/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/asset/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/asset/app/css/layout.css" rel="stylesheet">
  </head>
